ion-icon[name="trash"] {
  color: red;
  justify-self: end;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
}


ion-icon[name="create-sharp"] {
  color: blue;
  justify-self: end;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
}

ion-icon[name="person-add-outline"] {
  justify-self: end;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
}
h5{
  margin-left: 90px;
 
  
}


ion-fab-button {
  height: 40px;
  width: 40px;
}