<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title style="letter-spacing: 1px;">
      USERS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let user of users; let i = index" lines="none">

    <ion-item>
      <ion-avatar slot="start">
        <img [src]="user.avatar || defaultImage">
      </ion-avatar>
      <ion-label>
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <p>{{user.email}}</p>
      </ion-label>
      <ion-avatar slot="end">
        <ion-icon name="trash-bin-outline" (click)="deleteUser(i)"></ion-icon>
        <ion-icon name="pencil-outline" (click)="editUser(i)"></ion-icon>
      </ion-avatar>
      <!-- <ion-avatar slot="end" (click)="deleteUser(i)">
      
      </ion-avatar> -->
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUser()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>